{% extends 'base.html' %} {% block content %}
<b>Aluna: Fabiana Tiemi Watanabe</b>
<p>
    Esse projeto foi desenvolvido para a disciplina de Linguagens Formais e
    Autômatos.
</p>
<p>Esse projeto contém: </p>
<ul>
    <li>Especificação e simulação de expressões regulares</li>
    <li>Especificação e simulação de gramáticas regulares</li>
    <li>
        Especificação e simulação de Autômatos Finitos através de diagramas de
        transição
    </li>
</ul>
<br /><br /><br /><br /><br /><br /><br /><br /><br />
{% endblock %}
