{% extends 'base.html' %} 
{% block content %}
    <p>This is a project developed for the discipline of Formal Languages ​& Theory of Computation from the Universidade Estadual Paulista (UNESP), campus of Presidente Prudente on 2022.</p>
    <p>The project proposal contains</p>
    <ul>
        <li>Specify and simulate regular expressions.</li>
        <li>Specify and simulate regular grammars.</li>
        <li>Specify and simulate Finite Automata through transition diagrams.</li>
    </ul>  
    <br><br><br><br><br><br><br><br><br>
{% endblock %}
