{% extends 'base.html' %} {% block content %}

    
<form method="post" action="/regularexpressions/" id="regexForm" action="" method="post">
    {% csrf_token %} 
    <table>
        <tbody>
            <tr>
                <td id="left_slash" class="slash">
                    <span class="slash">/</span>
                </td>
                
                <td>
                    <table>
                        <tbody>
                            <tr>  <!-- TEXTO DO INPUT DO REGEX -->
                                <td>
                                    <label id="regex_label" for="regex">Your regular expression:</label>
                                </td>
                                <td id="invalid_regex">&nbsp;
                                </td>
                            </tr> 
                            <tr><!-- INPUT DO REGEX -->
                                <td colspan="2">
                                    {{regexform.regularexpression}}
                                </td>
                            </tr>
                            <tr><!-- TEXTO DO INPUT DA STRING DE TESTE -->
                                <td colspan="2">
                                    <label id="test_string_label" for="test_string">Your test string:</label>
                                </td>
                            </tr>
                            <tr><!-- INPUT DA STRING DE TESTE -->
                                <td colspan="2">
                                    {{regexform.teststring}}
                                </td>
                            </tr>

                            <tr>
                                <td> <!-- BOTAO DE VALIDAR -->
                                    <div id="test_button_div">
                                        <button id="test_button" type="submit" class="btn">TEST</button>
                                    </div>
                                    
                                    {% if regex_validation %}
                                        <p style="color: green;">VALID REGEX</p>
                                    {% else %}
                                        <p style="color: red;">INVALID REGEX</p>
                                    {% endif %}
                                </td>
                            </tr>


                            <tr> <!-- LINK PARA CHEATSHEET DE REGEX-->
                                <td>
                                    <a href="https://cheatography.com/davechild/cheat-sheets/regular-expressions/">
                                        <p>Regular Expression Cheatsheet</p>
                                    </a>
                                </td>
                                
                            </tr>
                            
                        </tbody>
                    </table>
                </td>

                <td id="right_slash" class="slash">
                    <span class="slash">\</span>
                </td>
            </tr>
        </tbody>

    </table>
</form>
                    

{% endblock %}

{% block footer %}
    
        
    <div id="footer">
        <p>Inspired by <a href="https://pythex.org">Pythex</a>. For a complete reference, see the official <a href="https://docs.python.org/2/library/re.html"><tt>re</tt> module documentation</a>.</p>
        <p id="authorship">Made by <a href="http://gihtub.com/SeaSkyThe">Marcelo Eduardo</a> and  <a href="http://gihtub.com/AlvaroSato">Alvaro Sato</a>.</p>
    </div>
       
{% endblock %}
