{% extends 'base.html' %} 
{% load static %}
{% block content %}
{% load custom_tags %}
<span id="sub-title" >Validação de Gramáticas Regulares (GLD ou GLUD)</span>
<link rel="stylesheet" href="{% static 'css/grammars/grammars-page.css'%}" />
 
<table id="whole_table">
    <tbody>
        <tr>
            <td id="left-table">
                <table >
                    <tbody>
                        <form method="post" action="{% url 'grammars_page' %}" id="grammarForm" class="grammar-form">
                            {% csrf_token %}
                            <tr>  <!-- TEXTO DO INPUT DO SIMBOLO INICIAL -->
                                <td>
                                    <label id="grammar_initial_symbol_label" for="grammarForm">Digite o símbolo inicial: </label>
                                    {{ grammarform.grammarInitial }}
                                </td>
                                
                            </tr> 

                            <tr>  <!-- TEXTO DO INPUT DA REGRA -->
                                <td>
                                    <label id="grammar_label" for="grammarForm">Para adicionar uma regra gramatical, digite abaixo: </label>
                                </td>
                                
                            </tr> 
                            <tr class="input_rule" ><!-- INPUT DA DA REGRA -->
                                <td colspan="2">
                                    {{ grammarform.grammarRuleLeft }}
                                    <i class='bx bx-right-arrow-alt' id="rule_arrow"></i>
                                    {{ grammarform.grammarRuleRight }}
                                    <button id="empty_string_rule_button" type="button" class="btn">ε</button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"> <!-- BOTAO DE ADICIONAR REGRA -->
                                    <div id="add_rule_button_div">
                                        <button id="add_rule_button" type="submit" class="btn">Adicionar Regra</button>
                                    </div>
                                </td>
                            </tr>
                        </form>
                        <form method="post" action="{% url 'grammars_page' %}" id="grammarForm" action="" method="post" class="grammar-form">
                            {% csrf_token %}
                            <tr><!-- TEXTO DO INPUT DA STRING DE TESTE -->
                                <td colspan="2">
                                    <br>
                                    <label id="test_string_label" for="test_string">Sentença para testar a gramática:</label>
                                </td>
                            </tr>
                            <tr><!-- INPUT DA STRING DE TESTE -->
                                <td colspan="2">
                                    {{ grammartestform.testString }}
                                    {% if sentence_test %}
                                        <script>
                                            var grammar_test_string = document.getElementById('grammar_test_string');
                                            grammar_test_string.style.borderColor = 'green';
                                            grammar_test_string.style.color = 'green';
                                        </script>
                                    {% else %}
                                        <script>
                                            var grammar_test_string = document.getElementById('grammar_test_string');
                                            grammar_test_string.style.borderColor = 'red';
                                            grammar_test_string.style.color = 'red';
                                        </script>
                                    {% endif %}
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2"> <!-- BOTAO DE VALIDAR -->
                                    <div id="test_button_div">
                                        <button id="test_button" type="submit" class="btn">Teste</button>
                                    </div>
                                </td>
                            </tr>
                        </form>
                    </tbody>
                </table>
                
            </td>
            {% comment %} RIGHT SIDE PART OF THE PAGE {% endcomment %}
            <td id="right-table" class="text-center">
                <div id="grammar_rule_list"> 
                    <table >
                        <tbody>
                            <tr>  <!-- TEXTO TITULO - SUA GRAMATICA -->
                                <td class="text-center">
                                    {% if grammar_definition %}
                                        <p id="rules_label" for="grammar" >Sua gramática: {{grammar_definition}}</p>
                                    {% else %}
                                    <p id="rules_label" for="grammar" >Sua gramática</p>
                                    {% endif %}
                                    
                                </td>
                                
                            </tr> 
                            <!-- REGRAS - CADA REGRA É UMA TABLE ROW -->

                            {% comment %} REGRAS REFERENTES AO SIMBOLO INICIAL {% endcomment %}
                            {% for rule in rules_objects %}
                                <tr class="rule_row" > 
                                    {% if rule.left_side == grammar.initial %}
                                        <td class="rule" style="background-color: #17A2B8;">
                                            <p style="display:inline; ">{{rule.left_side|replaceSeparator}} -> {{rule.right_side|replaceSeparator}}</p>
                                        </td>
                                        <td>
                                            <a href="{% url 'delete_rule' rule.id %}"><i class='bx bx-trash delete_rule_icon'></i></a>
                                        </td>
                                    {% endif %}
                                    
                                </tr>
                            {% endfor %}
                            {% comment %} RESTANTE DAS REGRAS, EM ORDEM ALFABETICA (DE ACORDO COM O LADO ESQUERDO) {% endcomment %}
                            {% for rule in rules_objects %}
                                <tr class="rule_row" >  
                                    {% if rule.left_side != grammar.initial %}
                                        <td class="rule">
                                            <p style="display:inline">{{rule.left_side|replaceSeparator}} -> {{rule.right_side|replaceSeparator}}</p>
                                        </td>
                                        <td>
                                            <a href="{% url 'delete_rule' rule.id %}"><i class='bx bx-trash delete_rule_icon'></i></a>
                                        </td>                      
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            
                            {% if rules_objects %}
                                <tr>
                                    <td colspan="2"> <!-- BOTAO DE CLEAR -->
                                        <div id="clear_button_div">
                                            <a href="{% url 'delete_all_rules' %}"><button id="clear_button" type="submit" class="btn">Limpar</button></a>
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                            
                        </tbody>
                    </table>
                </div>
            </td>

        </tr>
    </tbody>

</table>
<script src="{% static 'js/grammars/grammars.js' %}" type="text/javascript"></script>
                    

{% endblock %}

