/* grammar SUBTITLE */
#sub-title {
    font-size: 22px;
    color: #17A2B8;
    font-weight: 600;
}

/* FORM */
form#grammarForm {
    display: block;
    margin-top: 0em;
}

/* RULES LIST */
div#grammar_rule_list {
    display: block;
    margin-top: 0em;
    text-align: center;
    text-align: -webkit-center;
}

.rule {
    background-color: rgb(68, 68, 68);
    color: white;
    padding: 5 50 5 50;
    text-align: center;

}

/* Labels e Inputs */
#grammar_label,
#test_string_label,
#rules_label {
    font-weight: 600;
    margin-left: 5px;
    cursor: default;
    color: #48a87a;
}


/* left half div  */

table#whole_table {
    width: 100%;
}

#left-table {
    width: 50%;
    padding-top: 2em;
}

#right-table {
    width: 50%;
    padding-top: 2em;
    vertical-align: top;
}

input#rule_left_side,
input#rule_right_side {
    padding: 8px;
    font-size: 14px;
    max-width: 100%;
    background: #fafafa;
    color: rgb(102, 102, 102);
    background-color: rgb(255, 255, 255);

    margin-top: 1em;
    margin-bottom: 1em;
}

i#rule_arrow {
    font-size: 1.5em;
    vertical-align: middle;
    color: black;
}

.round {
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    color: #ededed;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px;
}




input#grammar_test_string {
    width: 100%;

    margin-bottom: 20px;
    padding: 8px;
    background: #fafafa;
    color: rgb(102, 102, 102);
    background-color: rgb(255, 255, 255);

    margin-top: 1em;
}

/* RIGHT HALF */

.rule_row {
    border-bottom: #F8F9FA;
    border-bottom-width: thin;
    border-bottom-style: solid;
}

/* BUTTONS */
#test_button_div {
    margin-top: 1em;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    display: block;
    margin-bottom: 2em;
    width: 100%;
}

button#test_button {
    background: #eaeaea;

    cursor: pointer;
    border-radius: 3px;
    background-image: -moz-linear-gradient(#fafafa, #eaeaea);
    background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
    background-image: linear-gradient(#fafafa, #eaeaea);
    background-repeat: repeat-x;
    width: 100%;
    color: #444444;

}

#add_rule_button_div {
    margin-top: 1em;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    display: block;
    margin-bottom: 1em;
    width: 100%;
}

button#add_rule_button {
    background: #eaeaea;
    cursor: pointer;
    border-radius: 3px;
    background-image: -moz-linear-gradient(#fafafa, #eaeaea);
    background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
    background-image: linear-gradient(#fafafa, #eaeaea);
    background-repeat: repeat-x;
    width: 100%;
    color: #444444;
}

#clear_button_div {
    margin-top: 1em;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    display: block;
    margin-bottom: 2em;
    width: 100%;
}

button#clear_button {
    background: #eaeaea;

    cursor: pointer;
    border-radius: 3px;
    background-image: -moz-linear-gradient(#fafafa, #eaeaea);
    background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
    background-image: linear-gradient(#fafafa, #eaeaea);
    background-repeat: repeat-x;
    width: 100%;
    color: #444444;

}

.delete_rule_icon {
    font-size: 22px;
    vertical-align: middle;
    color: rgb(223, 53, 69);
    padding-left: 22%;
    transition: all 0.12s;
}

.delete_rule_icon:hover {
    font-size: 28px;
    cursor: pointer;
}

/* CHEATSHEET LINK HOVER */
.cheatsheet-link {
    color: #17A2B8;
}

.cheatsheet-link:hover {
    color: black;
}